:root {
    /* Color reference: https://colorhunt.co/palette/222831393e46ffd369eeeeee */
    --color-primary: #222831;
    --color-secondary: #393E46;
    --color-secondary-opacity: rgba(57, 62, 70, 0.7);
    --color-accent: #FFD369;
    --color-accent-darker: #E6BE5D;
    --color-background: #EEEEEE;

    --font-hero: 'Caveat', cursive;
    --font-body: 'Reenie Beanie', cursive;

    --ccft-brand-size: 60px;
}


/* ---- GENERAL ELEMENTS CONFIG ---- */
* {
    box-sizing: border-box;
}

html,
body {
    font-family: var(--font-body);
    background-color: var(--color-background);
    color: var(--color-primary);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    color: var(--color-accent);
}

h2 {
    font-size: 2rem;
    color: var(--color-secondary);
    text-decoration: underline;
    text-decoration-color: var(--color-accent-darker);
}

h3 {
    font-size: 1.8rem;
    color: var(--color-secondary);
}

h4 {
    font-size: 1.5rem;
    color: var(--color-accent-darker);
    background-color: black;
}

p {
    color: var(--color-secondary);
    font-size: 2rem;
}

li {
    font-size: 2rem;
    color: inherit;
    /* Ensure text color remains unchanged */
}

li::marker {
    color: var(--color-accent-darker);
    /* Set your custom bullet color */
}

/* ---- E PAGE ELEMENTS CONFIG ---- */

.layout.nav--active main {
    opacity: .2;
    user-select: none;
}

.layout__backdrop,
.layout__frontdrop {
    background-color: var(--color-secondary);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    transform-origin: 0% 50%;
    width: 70%;
    z-index: 0;
}

.layout__backdrop {
    transform: scaleX(.54) translateX(calc(67% * 3));
}

.layout.nav--active .layout__frontdrop {
    background-color: var(--color-accent);
    visibility: visible;
}

.layout__frontdrop {
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.layout__wrapper {
    display: grid;
    grid-template-columns: 300px repeat(3, 1fr);
    margin: auto;
    height: 100%;
}

.layout__main {
    transition: opacity .3s;
    z-index: 1;
    grid-column: span 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    position: relative;

    /* Required for positioning child elements */
    img {
        display: block;
        margin: auto;
    }

    table {
        margin: auto;
        font-size: 1.2rem;
        color: var(--color-background);
        background-color: var(--color-secondary);
        border-spacing: 10px;
        text-align: center;
    }
}



/* Adjust the main hero section */
.hero {
    padding-top: 10rem;
    display: flex;
    justify-content: flex-end;
    /* Align everything to the right */
    width: 100%;
}

/* Hero title: right-aligned and flexible width */
.hero-title,
.hero-slogan {
    color: var(--color-accent);
    font-weight: 400;
    font-size: 4.75rem;
    line-height: 1.2;
    margin-right: 2rem;
    text-align: right;
    padding: 0 0.1em;
    margin: 0;
    position: relative;
    width: auto;
    z-index: 1;
}

.hero-title span {
    font-family: "Caveat", cursive;
    color: var(--color-primary)
}

/* Subtitle style inside the hero-title */
.hero-slogan em {
    display: block;
    font-size: 2rem;
    font-style: normal;
    line-height: 1.2;
    padding-right: 0.25em;
    transform: translateX(0.5rem);
}

.hero-text {
    background-color: var(--color-accent);
    color: var(--color-dark-accent);
    font-family: "Caveat", cursive;
    /* Dark text for readability */
    font-size: 1.5rem;
    /* Slightly larger for a note */
    line-height: 1.75;
    margin: 0;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 5em;
    padding: 1.5rem 2rem;
    width: 55%;
    z-index: 0;

    /* Post-it style enhancements */
    border-radius: 5px;
    /* Rounded corners */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    /* Shadow for lift effect */
    border: 1px solid rgba(0, 0, 0, 0.1);
}


/* Link styling inside hero-text */
.hero-text a {
    box-shadow: 0 4px #fff;
    color: #fff;
    text-decoration: none;
}

/* Ensure the last child of hero content has no bottom margin */
.hero-block--content>*:last-child {
    margin-bottom: 0;
}


.hero-block--content>*:last-child {
    margin-bottom: 0;
}

.layout__header {
    height: 100%;
    z-index: 2;
}

.layout__header nav {
    height: 100%;
}

.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav--header-1 {
    counter-reset: n;
    height: 100%;
    padding: 0 2rem;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.nav--header-1>.nav__item:not(.nav__item--home) {
    counter-increment: n;
}

.nav--header-1>.nav__item:not(.nav__item--home)>.nav__link {
    color: var(--color-primary);
    display: block;
    font-size: 2.50rem;
    line-height: 1;
    letter-spacing: .045em;
    padding: 1rem 1rem;
    padding-left: 5rem;
    padding-top: 2rem;
    position: relative;
    text-decoration: none;
    transition: transform .2s;
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    z-index: 1;
    white-space: nowrap;
}

.nav--header-1>.nav__item>.nav__link::before {
    content: counter(n, decimal-leading-zero);
    display: block;
    font-size: 6rem;
    font-weight: bold;
    left: 0;
    top: 0;
    opacity: .25;
    position: absolute;
    transition: transform .2s;
    z-index: -1;
}

.nav--header-1>.nav__item>.nav__link:hover,
.nav--header-1>.nav__item.nav__item--active>.nav__link {
    color: var(--color-accent-darker);
    transform: translateX(.5rem);
    text-decoration: underline;
}

.nav--header-1>.nav__item.nav__item--active .nav--header-2 {
    visibility: visible;
}

.nav--header-1 .nav__item--home {
    background-image: url('../imgs/neurons.svg');
    background-position: left center;
    /* Adjust position as needed */
    background-repeat: no-repeat;
    /* Prevent the logo from repeating */
    background-size: contain;
    /* Scale the logo to fit the item */
    padding-left: 40px;
    /* Add padding to make space for the logo */
    height: 50px;
    /* Set a height to ensure the item is tall enough */
    display: flex;
    /* Use flex to align items */
    align-items: center;
    /* Center align items vertically */
}

.nav--header-1 .nav__item--home>.nav__link {
    display: block;
    /* Necessary for text-indent to work */
    height: calc(var(--ccft-brand-size) + 40px);
    text-indent: -999px;
}

.nav--header-2 {
    height: 100%;
    left: 370px;
    opacity: 0;
    padding: 2.5rem 5rem;
    position: fixed;
    top: 0;
    visibility: hidden;
    width: 100%;
}

.nav--header-2::before {
    background-image: url('data:image/svg+xml;utf8,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" fill="rgb(255, 255, 255)"/></svg>');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    content: '';
    cursor: pointer;
    display: block;
    margin-bottom: 6rem;
    height: 30px;
    width: 30px;
}

.nav--header-2>.nav__item {
    margin-bottom: 2.75rem;
}

.nav--header-2>.nav__item>.nav__link {
    background-image: linear-gradient(to bottom, var(--color-accent) 0%, var(--color-accent) 100%);
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 6px 6px;
    color: #fff;
    font-size: 2.75rem;
    letter-spacing: .05em;
    text-decoration: none;
    transition: background-size .25s, color .3s;
}

.nav--header-2>.nav__item>.nav__link:hover {
    background-size: 6px 50px;
    color: #000000;
}

/* ---- GENERAL ELEMENTS CONFIG ---- */
.highlight {
    background-color: var(--color-accent);
    color: var(--color-primary);
}

.underline {
    text-decoration: underline;
    text-decoration-color: var(--color-accent-darker);
}

.layout__content_page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.layout__wrapper__content_page {
    margin: 2rem;
    padding: 2rem;
}

.layout__header__content_page {
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    width: 100%;
    height: 10rem;
}

.hero_title__content_page {
    font-family: var(--font-hero);
    font-size: 3rem;
    margin: 0;
}

.hero_slogan__content_page {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    margin: 10px 0 0 0;
}

.back-button {
    z-index: 2;
}

.wrapper {
    display: flex;
    /* Enable flexbox */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Full viewport height */
    margin: 0;
    /* Remove default margin */
}


.frame {
    --s: 10px;
    /* control the size of the frame */
    padding: var(--s);
    border: calc(2*var(--s)) solid #0000;
    /* Outer outline */
    outline-offset: calc(-1*var(--s));
    background: conic-gradient(from 90deg at 1px 1px, var(--color-accent) 25%, #000 0);
    /* Frame effect */
    display: inline-block;
    /* Ensure the container fits the GIF */
    border-radius: 10px;
    /* Rounded corners for the frame */
    box-shadow: 0 4px 10px var(--color-primary);
    /* Optional shadow for depth */
}

.frame img {
    display: block;
    /* Remove bottom space in inline elements */
    width: 640px;
    /* Set width for the GIF */
    height: auto;
    /* Maintain aspect ratio */
}

/* Some positioning and ratios */
.sticky-container {
    max-width: 400px;
    position: relative;
    z-index: 2;
    /* Ensure this is visible */
}

.sticky-outer {
    display: flex;
    position: relative;
    width: 100%;
}

.sticky {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    /* Ensure this is higher than other elements */
}

/* Shadow behind the sticky note */
.sticky:before {
    box-shadow: -2px 2px 15px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.25);
    content: '';
    width: 90%;
    left: 5px;
    height: 83%;
    position: absolute;
    top: 30%;
}

/* The sticky note itself */
.sticky-content {
    background: var(--color-accent);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1rem 2rem;

    clip-path: url(#stickyClip);
}

/* Add responsiveness */
@media screen and (min-width: 640px) {
    .sticky:before {
        height: 79%;
        width: 90%;
    }

    .sticky-content {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 768px) {
    .sticky:before {
        height: 75%;
        width: 90%;
    }

    .sticky-content {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .sticky:before {
        height: 73%;
        width: 90%;
    }

    .sticky-content {
        font-size: 1.875rem;
    }
}